<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Mongoose Scraper</h1>
    <p class="lead">C|Net Edition</p>
  </div>

    {{#each articles}}
      {{#if this.saved}}
        <div class="card mb-3">
          <div class="card-header">
            <h3><a href="{{this.link}}">{{this.title}}</a></h3>
            <a class="btn btn-danger" role="button">Delete from Saved</a>
            <a class="btn btn-dark" role="button">Article Notes</a>
          </div>
          <div class="card-body">
            {{this.summary}}
          </div>
        </div>
        {{/if}}
    {{/each}}
</div>